@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

/* ---brower-scroll-bar-css-- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #635fc7;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #555;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #635fc7;
}

body {
  font-family: "Open Sans", "Roboto";
  max-width: 100vw;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 1rem;
}
/* ----Navbar--css-- */
#navbar-link > li > .active {
  border-bottom: 4px solid #063970;
  padding-bottom: 2px;
  border-radius: 2px;
}

#navtag {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* ---Banner-css--- */
#Banner {
  background-color: #635fc7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bannerAnimation {
  animation: pulse 4s infinite;
  z-index: 1;
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scaleX(1);
  }
}

/* ---contact-css-- */
form#contact {
  z-index: 2;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  padding: 60px 50px;
  border-radius: 20px;
  margin: auto;
}

form#contact input,
textarea {
  width: 100%;
  height: 46px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 2px solid #9bdbf8;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0px 0px;
  margin-bottom: 35px;
  transition: all 0.7s;
}

form#contact input:focus {
  border-bottom: 2px solid #635fc7;
  /* border-color: #2742fd; */
}

form#contact textarea:focus {
  border-bottom: 2px solid #635fc7;
}

form#contact input::placeholder {
  color: #afafaf;
  font-size: 14px;
  font-weight: normal;
}

form#contact button {
  display: inline-block;
  background-color: #635fc7;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border: none;
  outline: none;
  transition: all 0.3s;
}

form#contact button:hover {
  background-color: black;
}

/* ----Footer-Css--- */
#socialIcons > div {
  border: 1px solid white;
  padding: 10px 15px;
  font-size: 20px;
  transition: all 0.8s ease-in;
}

#socialIcons > div:hover {
  cursor: pointer;
  background-color: black;
  border-radius: 6px;
  font-weight: 600;
}

#serviceLinks > li > a:hover {
  border-bottom: 3px solid #ffff;
}

/* ---About-us-design */

.member {
  text-align: center;
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px;
}

.member-content > h3 {
  padding-bottom: 6px;
  font-size: 22px;
  font-weight: 600;
  color: #1877f2;
}

.member-content > p {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #7a7a7a;
}

.social-links > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-links > ul > li > a {
  font-weight: 600;
  color: #707070;
  font-size: 18px;
  transition: all 0.7s;
}

.social-links > ul > li > a:hover {
  color: #2742fd;
}

/* ----LOGIN==REGISTER--SOCAIL-ICON-STYLE---- */
.social-icons {
  margin: auto;
  width: fit-content;
  display: flex;
  gap: 10px;
}

.social-icons > button {
  font-size: 28px;
  border: 2px solid #707070;
  padding: 10px;
  background: none;
  border-radius: 6px;
  cursor: pointer;
  color: black;
}
.social-icons > button > .fa-google {
  color: #0f9d58;
}
.social-icons > button > .fa-facebook {
  color: #1877f2;
}
.social-icons > button > .fa-linkedin {
  color: #0072b1;
}

.social-icons > button:hover {
  border-color: #635fc7;
}
.social-icons > button:active {
  border-color: white;
}

/* ----Dashboard-desgin-- */

#activeTodo > .active {
  background-color: #635fc7;
  color: white;
  transition: all 1s;
}
